
      <!-- Projects-->
      <section class="projects-section bg-light" id="projects">
        <h1 class="projectHead text-center mb-4">Find What Fascinates You</h1>
        <div class="container">

          <!-- Featured Project Row-->
          <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/Cinema4d.PNG" alt="" /></div>
            <div class="col-xl-4 col-lg-5">
              <div class="featured-text text-center text-lg-left">
                <h4>Cinema 4D | 3D Modeling</h4>
                <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for
                  any project - even commercial projects! Download it, customize it, and publish your website!</p>
              </div>
            </div>
          </div>

          <!-- Project One Row-->
          <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid" src="assets/UIUX.PNG" alt="" /></div>
            <div class="col-lg-6">
              <div class="bgcolor-black text-center h-100 project">
                <div class="d-flex h-100">
                  <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">UI/UX Designing </h4>
                    <p class="mb-0 text-dark-white">An example of where you can put an image of a project, or anything
                      else, along with a description...<a style="color: #64a19d;" href="">Know More</a></p>
                    <hr class="d-none d-lg-block mb-0 ml-0" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Project Two Row-->
          <div class="row justify-content-center no-gutters">
            <div class="col-lg-6"><img class="img-fluid" src="assets/2D.PNG" alt="" /></div>
            <div class="col-lg-6 order-lg-first">
              <div class="bgcolor-black text-center h-100 project">
                <div class="d-flex h-100">
                  <div class="project-text w-100 my-auto text-center text-lg-right">
                    <h4 class="text-white">Ps Lr Ai Xd | 2D Modeling</h4>
                    <p class="mb-0 text-dark-white">Another example of a project with its respective description. These
                      sections work well responsively as well, try this theme on a small screen...<a
                        style="color: #64a19d;" href="">Know More</a></p>
                    <hr class="d-none d-lg-block mb-0 mr-0" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Project Three Row-->
          <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid" src="assets/UIUX.PNG" alt="" /></div>
            <div class="col-lg-6">
              <div class="bgcolor-black text-center h-100 project">
                <div class="d-flex h-100">
                  <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">Ae Pr | Video Modeling </h4>
                    <p class="mb-0 text-dark-white">An example of where you can put an image of a project, or anything
                      else, along with a description...<a style="color: #64a19d;" href="">Know More</a></p>
                    <hr class="d-none d-lg-block mb-0 ml-0" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Project Four Row-->
          <div class="row justify-content-center no-gutters">
            <div class="col-lg-6"><img class="img-fluid" src="assets/2D.PNG" alt="" /></div>
            <div class="col-lg-6 order-lg-first">
              <div class="bgcolor-black text-center h-100 project">
                <div class="d-flex h-100">
                  <div class="project-text w-100 my-auto text-center text-lg-right">
                    <h4 class="text-white">UI/UX Development</h4>
                    <p class="mb-0 text-dark-white">Another example of a project with its respective description. These
                      sections work well responsively as well, try this theme on a small screen...<a
                        style="color: #64a19d;" href="">Know More</a></p>
                    <hr class="d-none d-lg-block mb-0 mr-0" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Project Five Row-->
          <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid" src="assets/UIUX.PNG" alt="" /></div>
            <div class="col-lg-6">
              <div class="bgcolor-black text-center h-100 project">
                <div class="d-flex h-100">
                  <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">NodeJs Spring Django | Backend</h4>
                    <p class="mb-0 text-dark-white">An example of where you can put an image of a project, or anything
                      else, along with a description...<a style="color: #64a19d;" href="">Know More</a></p>
                    <hr class="d-none d-lg-block mb-0 ml-0" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Project Six Row-->
          <div class="row justify-content-center no-gutters">
            <div class="col-lg-6"><img class="img-fluid" src="assets/2D.PNG" alt="" /></div>
            <div class="col-lg-6 order-lg-first">
              <div class="bgcolor-black text-center h-100 project">
                <div class="d-flex h-100">
                  <div class="project-text w-100 my-auto text-center text-lg-right">
                    <h4 class="text-white">ReactJs Angular | Framework</h4>
                    <p class="mb-0 text-dark-white">Another example of a project with its respective description. These
                      sections work well responsively as well, try this theme on a small screen...<a
                        style="color: #64a19d;" href="">Know More</a></p>
                    <hr class="d-none d-lg-block mb-0 mr-0" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Project Seven Row-->
          <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid" src="assets/MobileApp.PNG" alt="" /></div>
            <div class="col-lg-6">
              <div class="bgcolor-black text-center h-100 project">
                <div class="d-flex h-100">
                  <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">ReactNative Flutter | Mobile Applications</h4>
                    <p class="mb-0 text-dark-white">An example of where you can put an image of a project, or anything
                      else, along with a description...<a style="color: #64a19d;" href="">Know More</a></p>
                    <hr class="d-none d-lg-block mb-0 ml-0" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Project Eight Row-->
          <div class="row justify-content-center no-gutters">
            <div class="col-lg-6"><img class="img-fluid" src="assets/2D.PNG" alt="" /></div>
            <div class="col-lg-6 order-lg-first">
              <div class="bgcolor-black text-center h-100 project">
                <div class="d-flex h-100">
                  <div class="project-text w-100 my-auto text-center text-lg-right">
                    <h4 class="text-white">ElectronJs Java | Desktop Applications </h4>
                    <p class="mb-0 text-dark-white">Another example of a project with its respective description. These
                      sections work well responsively as well, try this theme on a small screen...<a
                        style="color: #64a19d;" href="">Know More</a></p>
                    <hr class="d-none d-lg-block mb-0 mr-0" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Project Nine Row-->
          <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid" src="assets/UIUX.PNG" alt="" /></div>
            <div class="col-lg-6">
              <div class="bgcolor-black text-center h-100 project">
                <div class="d-flex h-100">
                  <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">MERN MEAN | Full Stack Web</h4>
                    <p class="mb-0 text-dark-white">An example of where you can put an image of a project, or anything
                      else, along with a description...<a style="color: #64a19d;" href="">Know More</a></p>
                    <hr class="d-none d-lg-block mb-0 ml-0" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Project Ten Row-->
          <div class="row justify-content-center no-gutters">
            <div class="col-lg-6"><img class="img-fluid" src="assets/2D.PNG" alt="" /></div>
            <div class="col-lg-6 order-lg-first">
              <div class="bgcolor-black text-center h-100 project">
                <div class="d-flex h-100">
                  <div class="project-text w-100 my-auto text-center text-lg-right">
                    <h4 class="text-white">JavaScript Java Python | Full Stack</h4>
                    <p class="mb-0 text-dark-white">Another example of a project with its respective description. These
                      sections work well responsively as well, try this theme on a small screen...<a
                        style="color: #64a19d;" href="">Know More</a></p>
                    <hr class="d-none d-lg-block mb-0 mr-0" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Project Eleven Row-->
          <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid" src="assets/UIUX.PNG" alt="" /></div>
            <div class="col-lg-6">
              <div class="bgcolor-black text-center h-100 project">
                <div class="d-flex h-100">
                  <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">GIT Docker Heroku | DevOps</h4>
                    <p class="mb-0 text-dark-white">An example of where you can put an image of a project, or anything
                      else, along with a description...<a style="color: #64a19d;" href="">Know More</a></p>
                    <hr class="d-none d-lg-block mb-0 ml-0" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Project Twelve Row-->
          <div class="row justify-content-center no-gutters">
            <div class="col-lg-6"><img class="img-fluid" src="assets/2D.PNG" alt="" /></div>
            <div class="col-lg-6 order-lg-first">
              <div class="bgcolor-black text-center h-100 project">
                <div class="d-flex h-100">
                  <div class="project-text w-100 my-auto text-center text-lg-right">
                    <h4 class="text-white">Data Structure Algorithms</h4>
                    <p class="mb-0 text-dark-white">Another example of a project with its respective description. These
                      sections work well responsively as well, try this theme on a small screen...<a
                        style="color: #64a19d;" href="">Know More</a></p>
                    <hr class="d-none d-lg-block mb-0 mr-0" />
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>