<%- include('../partials/navigation.ejs')%>
    <link rel="stylesheet" href="/stylesheets/course.css">
      
    <br>
    <section class="courses container">
        <h1 class="theme-color-dark">Courses we love to teach</h1>
    
        <div class="courses-body">

            <div class="card c-card" style="width: 18rem;">
              <img src="./assets/Cinema4d.PNG" class="card-img-top" alt="...">
              <div class="p-2">
                <p class="card-text text-center">
                  Some quick example text to build on the card title 
                  <br>
                  <small>Course Name</small> 
                    <br>
                  <small>
                    ✔✖
                  </small>
                </p>
              </div>
            </div>
        </div>
        
    </section>    
    
    <br> <br>
    
<%- include('../partials/footer.ejs')%>
