<%- include('../partials/navigation.ejs')%>

<br> <br>

<link rel="stylesheet" href="/stylesheets/sign.css">

<div class="sign-width">
    <h3 class="text-center theme-color-dark font-weight-bold">Reset User's Password</h3>
    <br>
   <form action="/resetpassword" method="POST" class="container w-75">
    <div class="form-group">
      <input type="password" name="oldpassword" class="form-control" id="exampleInputPassword1" placeholder="Old Password">
    </div>
     <div class="form-group">
       <input type="password" name="newpassword" class="form-control" id="exampleInputPassword2" placeholder="New Password">
     </div>
     <Button type="submit" class="px20 btn btn-block theme-bgcolor text-dark font-weight-bold" data-toggle="modal" data-target="#modalRegisterForm">Change Password</Button>
   </form>
  </div>

  <br><br>

<%- include('../partials/footer.ejs')%>
